!XTerm.vt100.font: -*-fixed-terminus-r-normal-*18-*-*-*-*-*-iso10646-1
!UXTerm.vt100.font: -*-fixed-medium-r-normal-*19-*-*-*-*-*-iso10646-1
!Xterm*font: fixed
!Xterm*boldFont: fixed
!XTerm.*.font: 9x15
!XTerm*allowBoldFonts: false

xterm*font: terminus-18
